<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CatalystServer</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>catalyst.carousel.ContextListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>JSONRPCServlet</servlet-name>
    <servlet-class>org.jabsorb.JSONRPCServlet</servlet-class>
    <init-param>
      <param-name>gzip_threshold</param-name>
      <param-value>200</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSONRPCServlet</servlet-name>
    <url-pattern>/service</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InitServer</display-name>
    <servlet-name>InitServer</servlet-name>
    <servlet-class>catalyst.carousel.InitServer</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
<!-- 
  <resource-env-ref>
	  <description>Thinly veiled object factory for singletons</description>
	  <resource-env-ref-name>bean/SingletonFactory</resource-env-ref-name>
	  <resource-env-ref-type>catalyst.carousel.SingletonFactory</resource-env-ref-type>
  </resource-env-ref>

  <resource-env-ref>
      <description>DB Dev</description>
      <resource-env-ref-name>jdbc/CatDevDB</resource-env-ref-name>
      <resource-env-ref-type>javax.sql.DataSource</resource-env-ref-type>
  </resource-env-ref>
  -->
</web-app>